services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    networks:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/myinspectra_db
      - MINIO_ENDPOINT_URL=http://minio:9000
    depends_on:
      - db
      - minio
    networks:
      - backend

  db:
    image: postgres:17
    container_name: myinspectra_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: myinspectra_db
    ports:
      - "5432:5432"
    volumes:
      - .database:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:
    driver: bridge

